*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #28313b;
}
.container{
    max-width: 100vh;
    width: 100%;
    background-color: #485461;
    background-image: linear-gradient(135deg, #484848 0%, #28313b 74%);
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}
.menu{
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
    color: #eee;
}
.logo span {
    font-weight: 300;
}
.hamburger-menu{
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar{
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    background-color: #eee;
    transition: 0.5s;
    position: relative;
}
.bar::before, .bar::after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: 0.5s;
}
.bar::before{
    transform: translateY(-9px);
}
.bar::after{
    transform: translateY(9px);
}
.main{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 0;
    background-color: white;
    overflow: hidden;
}
header{
    
}